@import "util";

.cellPicker {

  .searchBox {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0 6px;
    border: 1px solid rgba(255,255,255,0.6);
    outline: none;
    background: rgba(0,0,0,0.4);
    opacity: 0.5;

    padding: 12px 10px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;

    &:focus {
      opacity: 1;
    }
  }

  .filterButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -4px;

    button {
      border-top: 1px solid rgb(112,112,116);
      border-right: 2px solid rgb(112,112,116);
      border-bottom: 2px solid rgb(78,79,82);
      border-left: 1px solid rgb(78,79,82);
      background: linear-gradient(to bottom,
        rgb(76,77,82) 0%,
        rgb(57,57,60) 100%);
      box-shadow: inset -1px 2px 0 0 rgb(77,73,82);
      position: relative;
    
      display: inline-block;
      flex-grow: 1;
      margin: 6px 4px;
      color: white;
      font-weight: bold;
      cursor: pointer;

      transform: scale(1.0);
      transform-origin: center;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: -2px; left: 25%;
        width: 0; height: 0;
        border-left: 4px solid transparent;
        border-bottom: 8px solid rgb(78,79,82);
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -2px; left: calc(25% + 2px);
        width: 0; height: 0;
        border-left: 2px solid transparent;
        border-bottom: 8px solid rgb(57,57,60);
      }
    }
    button:hover {
      border-top: 1px solid rgb(68,147,152);
      border-right: 2px solid rgb(68,147,152);
      border-bottom: 2px solid rgb(58,127,132);
      border-left: 1px solid rgb(58,127,132);
      box-shadow: inset 1px 1px 0 0 rgb(58,128,133);

      transform: scale(1.05);
      
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4fd2d7+0,03aab2+100 */
      background: rgb(79,210,215); /* Old browsers */
      background: -moz-radial-gradient(center, ellipse cover,  rgba(79,210,215,1) 0%, rgba(3,170,178,1) 100%); /* FF3.6-15 */
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(79,210,215,1) 0%,rgba(3,170,178,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(ellipse at center,  rgba(79,210,215,1) 0%,rgba(3,170,178,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd2d7', endColorstr='#03aab2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

      &:before {
        border-bottom: 8px solid rgb(58,127,132);
      }
      &:after {
        border-bottom: 8px solid rgb(3,170,178);
      }
    }

    button.selected {
      border-top: 1px solid rgb(32,104,109);
      border-right: 2px solid rgb(32,104,109);
      border-bottom: 2px solid rgb(32,104,109);
      border-left: 1px solid rgb(32,104,109);
      box-shadow: inset 1px 1px 0 0 rgb(58,128,133);

      color: rgb(23,87,89);
      transform: scale(1.05);
    
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4fd2d7+0,03aab2+100 */
      background: rgb(79,210,215); /* Old browsers */
      background: -moz-radial-gradient(center, ellipse cover,  rgba(79,210,215,1) 0%, rgba(45,173,178,1) 100%); /* FF3.6-15 */
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(79,210,215,1) 0%,rgba(45,173,178,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(ellipse at center,  rgba(79,210,215,1) 0%,rgba(45,173,178,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd2d7', endColorstr='#03aab2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
      &:before {
        border-bottom: 8px solid rgb(32,104,109);
      }
      &:after {
        border-bottom: 8px solid rgb(3,170,178);
      }
    }
  }
  
  .cell {
    cursor: pointer;
    transform: scale(1.0);
    transform-origin: center;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.025);
    }
  }
}