@import "util";

.cellPicker {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 16px;
  padding: 16px;
  text-align: center;
}

.searchBox {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0 6px;
  border: 1px solid rgba(255,255,255,0.6);
  outline: none;
  background: rgba(0,0,0,0.4);
  opacity: 0.5;

  padding: 12px 10px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;

  &:focus {
    opacity: 1;
  }
}

.filterButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -4px;

  button {
    border-top: 1px solid rgb(112,112,116);
    border-right: 2px solid rgb(112,112,116);
    border-bottom: 2px solid rgb(78,79,82);
    border-left: 1px solid rgb(78,79,82);
    background: linear-gradient(to bottom,
      rgb(76,77,82) 0%,
      rgb(57,57,60) 100%);
    box-shadow: inset -1px 2px 0 0 rgb(77,73,82);
    position: relative;
  
    display: inline-block;
    flex-grow: 1;
    margin: 6px 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;

    transform: scale(1.0);
    transform-origin: center;

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: -2px; left: 25%;
      width: 0; height: 0;
      border-left: 4px solid transparent;
      border-bottom: 8px solid rgb(78,79,82);
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -2px; left: calc(25% + 2px);
      width: 0; height: 0;
      border-left: 2px solid transparent;
      border-bottom: 8px solid rgb(57,57,60);
    }
  }
  button:hover {
    border-top: 1px solid rgb(68,147,152);
    border-right: 2px solid rgb(68,147,152);
    border-bottom: 2px solid rgb(58,127,132);
    border-left: 1px solid rgb(58,127,132);
    box-shadow: inset 1px 1px 0 0 rgb(58,128,133);

    transform: scale(1.05);
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4fd2d7+0,03aab2+100 */
    background: rgb(79,210,215); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(79,210,215,1) 0%, rgba(3,170,178,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(79,210,215,1) 0%,rgba(3,170,178,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(79,210,215,1) 0%,rgba(3,170,178,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd2d7', endColorstr='#03aab2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    &:before {
      border-bottom: 8px solid rgb(58,127,132);
    }
    &:after {
      border-bottom: 8px solid rgb(3,170,178);
    }
  }

  button.selected {
    border-top: 1px solid rgb(32,104,109);
    border-right: 2px solid rgb(32,104,109);
    border-bottom: 2px solid rgb(32,104,109);
    border-left: 1px solid rgb(32,104,109);
    box-shadow: inset 1px 1px 0 0 rgb(58,128,133);

    color: rgb(23,87,89);
    transform: scale(1.05);
  
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4fd2d7+0,03aab2+100 */
    background: rgb(79,210,215); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(79,210,215,1) 0%, rgba(45,173,178,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(79,210,215,1) 0%,rgba(45,173,178,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(79,210,215,1) 0%,rgba(45,173,178,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd2d7', endColorstr='#03aab2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
    &:before {
      border-bottom: 8px solid rgb(32,104,109);
    }
    &:after {
      border-bottom: 8px solid rgb(3,170,178);
    }
  }
}

.cellList {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 -16px 0 -16px;
  padding: 0 16px 0 16px;
  
  img {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin: 0 10px;
    @include disableSelect;
  }

  > h2 {
    color: white;
    margin-bottom: 16px;
  }

  h2 { margin: 10px 0 8px 0; }
  h3 { margin: 6px 0; }
  h3 + span {
    display: block;
    margin: 6px 0 12px 0;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 2px;
  }

  button {
    cursor: pointer;
    margin: 6px 0;
    padding: 1px;
    border: none;
    box-shadow: -1px -1px 0 0 rgba(0,0,0,0.2);
    transform: scale(1.0);
    transform-origin: center;
    transition: transform 0.2s;

    color: white;
    text-align: left;
  
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0f4f5+0,747372+100 */
    background: rgb(240,244,245); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(240,244,245,1) 0%, rgba(116,115,114,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(240,244,245,1) 0%,rgba(116,115,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom right,  rgba(240,244,245,1) 0%,rgba(116,115,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f4f5', endColorstr='#747372',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
    > span {
      box-shadow: inset -1px -1px 0 0 rgba(116,115,114,0.9);
    
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3a697b+0,2e4f5c+100 */
      background: rgb(58,105,123); /* Old browsers */
      background: -moz-linear-gradient(-45deg,  rgba(58,105,123,1) 0%, rgba(46,79,92,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg,  rgba(58,105,123,1) 0%,rgba(46,79,92,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom right,  rgba(58,105,123,1) 0%,rgba(46,79,92,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a697b', endColorstr='#2e4f5c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
  }
  button:hover {
    transform: scale(1.025);
    > span {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4b75a1+0,507ba9+100 */
      background: rgb(75,117,161); /* Old browsers */
      background: -moz-linear-gradient(-45deg,  rgba(75,117,161,1) 0%, rgba(80,123,169,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg,  rgba(75,117,161,1) 0%,rgba(80,123,169,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom right,  rgba(75,117,161,1) 0%,rgba(80,123,169,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b75a1', endColorstr='#507ba9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }
}