.filterButtons input {
  display: none;
}

.filterButtons label {
  margin: 0 4px;
  cursor: pointer;
}

.selectedFilterButton {
  text-decoration: underline;
}

.cellList {
  list-style: none;
}